* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Jost', sans-serif;
}
#seccion-1 {
    height: 100vh;
    background-image: url(../img//Edificio/edificio7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /* background-color: #2124b1; */
}
.titulos {
    text-align: center;
    
}

.margin-parrafo {
    color: #2124b1;
    margin: 1rem;
}

.margin-body {
    margin: 4rem;
}

.parrafo-historia {
    line-height: 1.7;
}

.contenido-seccion2 {
    height: 100vh;
    background-image: url(../img/compu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenido-seccion-3 {
    height: 100vh;
    background-image: url(../img/historia2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.redes-sociales, .redes-sociales-2 {
    list-style: none;
    
    
}

.img-carrousel-1 {
    height: 100vh;
    background-image: url('../img/carrousel/carrousel1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.img-carrousel-2 {
    height: 100vh;
    background-image: url(../img/carrousel/cliente1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-carrousel-3 {
    height: 100vh;
    background-image: url(../img/carrousel/cliente2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-logo {
    width: 100px;
    height: 50px;
}

#seccion-4 {
    /* height: 150vh; */
    background-image: url(../img/contacto3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.contacto a {
    text-decoration: none;
}

.footer {
    text-align: center;
    color: white;
    background-color: black;
    height: 300px;
}

.redes-sociales a i {
    color: #fffafa;
    font-size: 3rem;
    
}

.contenedor-contacto a {
    color: #fffafa;
    margin-left: 2rem;
    font-size: 1.8rem;
    text-decoration: none;
}