* {
    margin: 0;
    padding: 0;
}
#seccion-1 {
    height: 100vh;
    background-image: url(../img//Edificio/edificio6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.titulos {
    text-align: center;
    
}

.margin-parrafo {
    margin: 1rem;
}

.margin-body {
    margin: 4rem;
}

.contenido-seccion2 {
    height: 100vh;
    background-image: url(../img/compu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenido-seccion-3 {
    height: 100vh;
    background-image: url(../img/historia2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.redes-sociales, .redes-sociales-2 {
    list-style: none;
    
    
}

.img-carrousel-1 {
    height: 100vh;
    background-image: url('../img/carrousel/carrousel1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.img-carrousel-2 {
    height: 100vh;
    background-image: url(../img/carrousel/cliente1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-carrousel-3 {
    height: 100vh;
    background-image: url(../img/carrousel/cliente2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#seccion-4 {
    height: 100vh;
}

.contacto a {
    text-decoration: none;
}